:root {
  --q-teal: #{$teal};
  --q-purple: #{$purple};
  --q-pink: #{$pink};
  --q-grey: #{$grey};
  --q-grey-2: #{$grey-2};
  --q-blue-grey: #{$blue-grey};
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(220, 220, 220, 0.8) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 0.8);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 220, 220, 0.5);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
